.header-navbar {
  background: linear-gradient(to bottom, #1E2022 0%, rgb(0, 0, 0) 100%);
  min-height: 60px;
  padding: 10px 0;
}

.imgLogo {
  height: 2.25rem;
  margin-right: 0.8em;
}

.navbar-dark .navbar-brand {
  font-size: 1.4rem;
  line-height: 1.5rem;
}

.navbar-dark .navbar-toggler {
  background: rgba(255, 255, 255, .2);
  border: none;
  padding: .3rem .4rem;
}

.navbar-dark .nav-link {
  border-radius: 4px;
  font-size: 1.15rem;
  line-height: 1.5rem;
  margin: 0 1px;
  padding-left: 15px;
  padding-right: 15px;
}

.nav-link.active {
  background-color: rgba(255, 255, 255, .2);
}

.nav-link:not(.active):hover {
  background-color: rgba(255, 255, 255, .05);
}