.subscribe-btn {
  color: #fff;
  background: red;
  padding: 3px 15px;
  border: none;
  border-radius: 5px;
  border: 1px solid transparent;
}
.unsubscribe-btn {
  color: #000;
  background: #ccc;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 3px 15px;
}
.show-comments {
  height: 540px;
  overflow: hidden;
  overflow-y: auto;
}
